.page-container 
{
    position: relative;
    min-height: 100vh;
}

.logo
{
    height: 250px;
}

.header
{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}