@font-face { font-family: WHITEONBLACK; src: url('../assets/White\ On\ Black.ttf'); }

/*HEADER & FOOTER*/
.page-container 
{
    position: relative;
    min-height: 100vh;
}

/*Header*/
.logo
{
    height: 250px;
    filter: drop-shadow(2px 2px gray);
}

.header
{
    font-family: WHITEONBLACK;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a
{
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px gray;
}

/*Footer*/
.footer
{
    background-color: black;
    width: 100%;
    padding: 70px 30px 20px;
}

.footerIcons
{
    display: flex;
    justify-content: center;
}

.footerIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.footerNav
{
    margin: 30px 0;
}

.footerNav ul
{
    display: flex;
    justify-content: center;
}

.footerNav ul li a
{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover
{
    opacity: 1;
}

.footerBottom
{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p
{
    color: white;
}

.designer
{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    
}

/*TEXT*/
.header_text 
{
    color: white;
    text-shadow: 2px 2px gray;
    padding: 14px 16px;
    text-decoration: none;
    font-family: WHITEONBLACK;
    font-size: 40px;
}

.small_text
{
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px gray;
}

/*OTHER*/
.box
{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.box_text
{
    width: 15vw;
    min-width: 500px;
    padding:10px;
    padding-right:50px;
    padding-left:50px;
    position:relative;
}